
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #ff8901;
    --color-secondary: #fb923c;
    --color-accent: #f3f4f6;
    --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 3rem;
  --container-padding-xl: 4rem;
  --container-padding-2xl: 5rem;
  --font-playfair: '"Playfair Display"', serif;

  }






